.goBackBtn {
    margin: 15px 5px;
}

.responsiveForm {
  display: flex;
  flex-wrap: wrap;
  
}

.responsiveFormItem {
  flex: 1;
  margin: 0px;
}

@media screen and (max-width: 625px) {
  .findExercisePage {
    margin-top: 85px;
  }
};

@media screen and (max-width: 700px) {
  .responsiveForm {
    flex-direction: column !important;
  }

  .responsiveFormItem {
    flex: 1 0 100%;
  }
}