@media screen and (max-width: 625px) {
  .mainLayout {
    margin-top: 70px;
  }

    .dashboard-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dashboard-card {
    display: flex;
    justify-content: center;
  }

  .dashboard-pagination {
    display: flex;
    justify-content: center;
  }

  .dashboard-button-row {
    display: flex;
    justify-content: center;
  }

};




