@media screen and (min-width: 626px) {
  .exerciseDescriptionCard .ant-card {
    width: 500px;
  }
}

@media screen and (max-width: 625px) {
  .exerciseDescriptionCard .ant-card {
    width: 450px;
  }
}

@media screen and (max-width: 510px) {
  .exerciseDescriptionCard .ant-card {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .exerciseDescriptionCard .ant-card {
    width: 300px;
  }
}

@media screen and (max-width: 625px) {
  .startWorkoutLayout {
    margin-top: 90px;
  }

  .nextExerciseBtn {
    margin-top: 3px;
    margin-bottom: 15px;
  }

};


