.userPrograms {
    margin-bottom: 15px;
}



@media screen and (max-width: 625px) {
  .userPrograms {
    padding-top: 80px;
  }
};

@media screen and (max-width: 625px) {
  .userPrograms {
    margin-top: 80px;
  }

  
};

.containerClass {
  width: 100%;  
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .containerClass {
    transform: translateX(-2%);
  }
}

@media screen and (max-width: 950px) {
  .containerClass {
    transform: translateX(-2%);
  }
}

@media screen and (max-width: 840px) {
  .containerClass {
    transform: translateX(-3%);
  }
}

@media screen and (max-width: 780px) {
  .containerClass {
    transform: translateX(-4%);
  }
}

@media screen and (max-width: 720px) {
  .containerClass {
    transform: translateX(-6%);
  }
}

@media screen and (max-width: 660px) {
  .containerClass {
    transform: translateX(-10%);
  }
}

@media screen and (max-width: 580px) {
  .containerClass {
    transform: translateX(-15%);
  }
}

@media screen and (max-width: 520px) {
  .containerClass {
    transform: translateX(-19%);
  }
}

@media screen and (max-width: 450px) {
  .containerClass {
    transform: translateX(-22%);
  }
}

@media screen and (max-width: 400px) {
  .containerClass {
    transform: translateX(-25%);
  }
}

@media screen and (max-width: 370px) {
  .containerClass {
    transform: translateX(-29%);
  }
}

@media screen and (max-width: 350px) {
  .containerClass {
    transform: translateX(-31%);
  }
}
