@media screen and (max-width: 625px) {
  .headerAndNavbarContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
.ant-menu-horizontal > .ant-menu-item,
  .ant-menu-horizontal > .ant-menu-submenu {
    top: 0;
    margin: 0 7px;
    padding: 0 7px;
    font-size: 12px;
}
}